{% extends 'layouts/base.twig' %}

{% block title %}Выбор заявки{% endblock %}

{% block content %}
<div class="main-content">
    <div class="container-form">
        <h1>Выберите тип заявки</h1>
        <ul class="form-list">
            <li><a href="{{ url_for('application.cartridge') }}">Замена картриджа</a></li>
            <li><a href="{{ url_for('application.repair') }}">Ремонт техники</a></li>
            <li><a href="{{ url_for('application.software') }}">Установка ПО</a></li>
            <li><a href="{{ url_for('application.wifi-user') }}">Заявка на создание пользователя Wi-Fi</a></li>
            <li><a href="{{ url_for('application.vk-access') }}">Заявка на доступ к сервису ВК</a></li>
            <li><a href="{{ url_for('application.event') }}">Организация мероприятия</a></li>
            <li><a href="{{ url_for('application.equipment') }}">Заявка на приобретение техники</a></li>
        </ul>
    </div>
</div>
{% endblock %}